<div class="containerbody mx-auto px-4 mb-6 relative">
  <h1 class="text-4xl text-center font-bold text-gray-800 mb-4">Importer</h1>
  <div class="file-upload bg-white w-96 mx-auto p-4">
    <button class="file-upload-btn w-full mt-2 text-white font-bold py-2 px-4 rounded bg-blue-500 hover:bg-blue-700" type="button" (click)="triggerFileInput()">Ajouter Fichier</button>
  
    <div class="file-upload-wrap mt-4 border-4 border-dashed border-blue-500 relative">
      <input class="file-upload-input absolute top-0 left-0 w-full h-full opacity-0 cursor-pointer" type="file" (change)="readURL($event.target)" accept=".pdf,.docx" />
      <div class="drag-text">
        <h3 class="font-light uppercase text-blue-500 py-16">Veuillez télécharger uniquement des documents au format 'pdf', 'docx'.</h3>
      </div>
    </div>
    
    <div class="file-upload-content">
      <div class="title-wrap pt-4">
        <button type="button" (click)="removeUpload()" class="remove-file w-48 mt-2 text-white font-bold py-2 px-4 rounded bg-indigo-600 hover:bg-indigo-800">Supprimer <span class="image-title">{{ uploadedFileName }}</span></button>
      </div>
    </div>
  </div>
</div>



