
<div class="flex">
    <div class="hidden lg:flex  w-1/12"></div>
    <div class="w-11/12 mx-auto px-4 mb-6 relative">
        <h1 class="text-4xl text-center font-bold text-gray-800 w-full">Compte</h1>
        <section class="flex flex-wrap justify-center mx-auto">
            <div class="w-full sm:w-6/12 lg:w-3/12 ml-3 my-4">
                <section class="bg-cyan-300 rounded-lg shadow-md p-4 justify-center mx-auto">
                    <div class="p-4 justify-center mx-auto flex">
                        <a class="text-stone-400 justify-center mx-auto" routerLink="/admin/Infocompte">
                            <svg width="17px" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="9.5" cy="9.19141" r="8" stroke="#72849A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></circle><path d="M4.16675 15.1675C4.27341 13.555 6.30762 11.1914 9.50385 11.1914C12.622 11.1914 14.7286 13.441 14.8296 15.0702" stroke="#72849A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path><path d="M9.5 10.1914C11.1569 10.1914 12.5 8.84826 12.5 7.19141C12.5 5.53455 11.1569 4.19141 9.5 4.19141C7.84315 4.19141 6.5 5.53455 6.5 7.19141C6.5 8.84826 7.84315 10.1914 9.5 10.1914Z" stroke="#72849A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                        </a>
                    </div>
                    <div class="p-4">
                        <h3 class="text-lg font-semibold text-center">Afficher Les informations</h3>
                    </div>
                </section>
            </div>
         
        
        </section>
    </div>
</div>
<router-outlet>
  
</router-outlet>