<div class="flex">
  <div class=" mx-auto px-4 mb-6 relative w-full">
    <h1 class="text-4xl text-center font-bold text-gray-800 w-full">Visualisation CVs</h1>
    <div class="flex mt-4 justify-end">
      <a class=" bg-gray-200 hover:bg-gray-300 py-2 px-4 rounded" routerLink="/admin/dashboard"><svg width="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19 12H5" stroke="#72849A" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 19L5 12L12 5" stroke="#72849A" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"></path></svg>
       </a>
    </div>
    <div class="flex flex-wrap">
      <div class="formVisualisation  w-full lg:w-1/2 mx-auto px-4 mb-6 relative">
        <div class="w-full bg-slate-100 p-4 mt-2">
          <!-- mon-composant.component.html -->

<div>
  <label for="FirstName">Prénom:</label>
  <input type="text" id="FirstName" [(ngModel)]="resume.CandidateDetails.FirstName" />
</div>
<div>
  <label for="LastName">Nom de famille:</label>
  <input type="text" id="LastName" [(ngModel)]="resume.CandidateDetails.LastName" />
</div>
<div>
  <label for="Email">E-mail:</label>
  <input type="text" id="Email" [(ngModel)]="resume.CandidateDetails.Email" />
</div>
<div>
  <label for="position">Position:</label>
  <select id="position" [(ngModel)]="resume.CandidateDetails.position">
    <option value="relative">Relative</option>
    <option value="autre_valeur">Autre Valeur</option>
  </select>
</div>
<div>
  <label for="role">Rôle:</label>
  <input type="text" id="role" [(ngModel)]="resume.CandidateDetails.role" />
</div>
<div>
  <label for="telephone">Téléphone:</label>
  <input type="text" id="telephone" [(ngModel)]="resume.CandidateDetails.telephone" />
</div>
<div>
  <label for="Anneesexperience">Années d'expérience:</label>
  <input type="text" id="Anneesexperience" [(ngModel)]="resume.CandidateDetails.Anneesexperience" />
</div>

<!-- Historiques -->
<div>
  <h2>Historiques:</h2>
  <!-- <button (click)="addHistorique()">Ajouter une position</button> -->
  <ul>
    <li *ngFor="let position of resume.historiques.Position; let i = index">
      <input [(ngModel)]="position.Nomentreprise" placeholder="Nom de l'entreprise" />
      <input [(ngModel)]="position.Intituleposte" placeholder="Intitulé du poste" />
      <input [(ngModel)]="position.Datedebut" placeholder="Date de début" />
      <input [(ngModel)]="position.Datefin" placeholder="Date de fin" />
      <input [(ngModel)]="position.Description" placeholder="Description" />
      <!-- <button (click)="removeHistorique(i)">Supprimer</button> -->
    </li>
  </ul>
</div>

<!-- Educations -->
<div>
  <h2>Éducations:</h2>
  <!-- <button (click)="addEducation()">Ajouter une éducation</button> -->
  <ul>
    <li *ngFor="let education of resume.Educations.Education; let i = index">
      <input [(ngModel)]="education.Nom_ecole" placeholder="Nom de l'école" />
      <input [(ngModel)]="education.Diplome" placeholder="Diplôme" />
      <input [(ngModel)]="education.VilleE" placeholder="Ville" />
      <input [(ngModel)]="education.DatedebutF" placeholder="Date de début" />
      <input [(ngModel)]="education.DatefinF" placeholder="Date de fin" />
      <!-- <button (click)="removeEducation(i)">Supprimer</button> -->
    </li>
  </ul>
</div>

<!-- Langues -->
<div>
  <h2>Langues:</h2>
  <!-- <button (click)="addLangue()">Ajouter une langue</button> -->
  <ul>
    <li *ngFor="let langue of resume.Langues.Langue; let i = index">
      <input [(ngModel)]="langue.titre_langue" placeholder="Langue" />
      <input [(ngModel)]="langue.niveaulang" placeholder="Niveau de langue" />
      <!-- <button (click)="removeLangue(i)">Supprimer</button> -->
    </li>
  </ul>
</div>

<!-- Certifications -->
<div>
  <h2>Certifications:</h2>
  <!-- <button (click)="addCertification()">Ajouter une certification</button> -->
  <ul>
    <li *ngFor="let certification of resume.certifications.Certification; let i = index">
      <input [(ngModel)]="certification.titre_certificat" placeholder="Titre de la certification" />
      <input [(ngModel)]="certification.DateCert" placeholder="Date de certification" />
      <!-- <button (click)="removeCertification(i)">Supprimer</button> -->
    </li>
  </ul>
</div>

<!-- Compétences -->
<div>
  <h2>Compétences:</h2>
  <!-- <button (click)="addTopSkill()">Ajouter une compétence</button> -->
  <ul>
    <li *ngFor="let skill of resume.Competences.TopSkills; let i = index">
      <input [(ngModel)]="skill.titre_comp" placeholder="Titre de la compétence" />
      <!-- <button (click)="removeTopSkill(i)">Supprimer</button> -->
    </li>
  </ul>
</div>
        </div>
      </div>
      <div class="visualisationD w-full lg:w-1/2  mx-auto px-2 mb-4 relative">
        <div class="w-full bg-gray-200 p-4 mt-2">
          <section  class="bg-slate-50">
            <div class="wrapper templateId2" id="cv">
              <table class="table_class header_table">
                <tbody>
                  <tr>
                    <td class="candidate_details text-left pt-10">
                      <ng-container *ngIf="resume.CandidateDetails.FirstName !== ''">
                          <h2 class="text-3xl text-blue-600 font-bold inline-block">
                            <div>{{ resume.CandidateDetails.FirstName.charAt(0).toUpperCase() + '.' || '' }}</div>
                          </h2>
                      </ng-container>
                      <ng-container *ngIf="resume.CandidateDetails.LastName !== ''">
                        <h2 class="text-3xl text-blue-600 font-bold inline-block">
                          {{ resume.CandidateDetails.LastName.charAt(0).toUpperCase() + '.' || '' }}
                        </h2>
                      </ng-container>
                      <h3 class="text-xl text-blue-500">{{ resume.CandidateDetails.role || '' }}</h3>
                      <h3 class="text-xl text-slate-400 my-1 font-normal">{{ resume.CandidateDetails.Anneesexperience || '' }}</h3>
                    </td>
                  </tr>
                </tbody>
              </table>
              <hr class="horizontal_line bg-slate-950" />
              <table class="table_class table_container">
                <tbody>
                  <tr>
                    <td class="leftpart">
                      <table class="table_class">
                        <tbody>
                          <!-- Top compétances -->
                          <ng-container *ngIf="resume.Competences.TopSkills.length > 0">
                            <table class="table_class table_container">
                              <tbody>
                                <tr *ngFor="let topskillChunk of chunkArray(resume.Competences.TopSkills.slice(0, 4), 2)">
                                  <td *ngFor="let topskill of topskillChunk" class="w-1/2 text-center border-solid border-1 border-blue-500 py-2 px-4 mb-4 mt-4 text-blue-600">
                                    {{ topskill.titre_comp }}
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </ng-container>
                          <!-- Historique professionnel -->
                          <ng-container *ngIf="resume.historiques.Position.length > 0">
                            <tr>
                              <th class="th_title text-blue-500 text-xs uppercase">historique professionnel</th>
                            </tr>
                            <ng-container *ngFor="let position of resume.historiques.Position; let index = index">
                              <tr>
                                <td>
                                  <table class="table_class">
                                    <tbody>
                                      <tr>
                                        <th class="text-left text-base leading-5 pt-2">{{ position.Intituleposte }}</th>
                                      </tr>
                                      <tr>
                                        <td class="employer_name">{{ position.Nomentreprise }}</td>
                                      </tr>
                                      <tr>
                                        <td class="employment_duration">
                                          {{ position.Datedebut + ' - ' }}
                                          <ng-container *ngIf="!isDateFinCheckedForHistorique(index)">{{ dateFinValuesHistorique[index] }}</ng-container>
                                          <ng-container *ngIf="isDateFinCheckedForHistorique(index)">jusqu'à présent</ng-container>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>{{ position.Description }}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </ng-container>
                          </ng-container>
                          <!-- Éducation -->
                          <ng-container *ngIf="resume.Educations.Education.length > 0">
                            <tr class="tr_title">
                              <th class="th_title text-blue-500 text-xs uppercase">éducation</th>
                            </tr>
                            <ng-container *ngFor="let edu of resume.Educations.Education; let index = index">
                              <tr>
                                <td>
                                  <table>
                                    <tbody>
                                      <tr>
                                        <th class="text-left text-base leading-5 pt-2">{{ edu.Diplome || '' }}</th>
                                      </tr>
                                      <tr>
                                        <td class="employer_name">{{ edu.Nom_ecole }}</td>
                                      </tr>
                                      <tr>
                                        <td class="edu_duration pt-2">
                                          {{ edu.DatedebutF + ' - ' }}
                                          <ng-container *ngIf="!isDateFinCheckedForEducations(index)">{{ dateFinValueseducations[index] }}</ng-container>
                                          <ng-container *ngIf=" isDateFinCheckedForEducations(index)">jusqu'à présent</ng-container>{{ '  ' + edu.VilleE }}
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </ng-container>
                          </ng-container>
                        </tbody>
                      </table>
                    </td>
                    <td class="rightpart bg-white w-50">
                      <table class="table_class">
                        <tbody>
                          <tr>
                            <td>
                              <table class="table_class">
                                <tbody>
                                  <ng-container *ngIf="resume.Competences.TopSkills.length > 0">
                                    <tr class="tr_title">
                                      <th class="th_title text-blue-500 text-xs uppercase">autres compétences</th>
                                    </tr>
                                    <tr *ngFor="let topskill of resume.Competences.TopSkills; let innerIndex = index">
                                      <td>
                                        <table class="table_class">
                                          <tbody>
                                            <tr *ngIf="innerIndex >= 4">
                                              <td>
                                                <ul class="top_skills_table_ul w-full flex flex-row flex-wrap justify-center items-center outline-solid border-2 border-green-500 rounded">
                                                  <li class="flex flex-wrap justify-between py-2 px-2">
                                                    <ng-container *ngIf="innerIndex >= 4">{{ topskill.titre_comp }}</ng-container>
                                                  </li>
                                                </ul>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </ng-container>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <ng-container *ngIf="resume.Langues.Langue.length > 0">
                                <table class="table_class">
                                  <tbody>
                                    <tr>
                                      <th class="th_title text-blue-500 text-xs uppercase">langues</th>
                                    </tr>
                                    <ng-container *ngFor="let lang of resume.Langues.Langue; let index = index">
                                      <tr>
                                        <td>
                                          <table>
                                            <tbody>
                                              <tr>
                                                <th class="text-left text-base leading-5 pt-2">{{ lang.titre_langue }}</th>
                                              </tr>
                                              <tr>
                                                <td class="rightpart_text" *ngIf="lang.titre_langue !== ''">{{ lang.niveaulang }}</td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </ng-container>
                                  </tbody>
                                </table>
                              </ng-container>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <ng-container *ngIf="resume.certifications.Certification.length > 0">
                                <table class="table_class">
                                  <tbody>
                                    <tr>
                                      <th class="th_title text-blue-500 text-xs uppercase">Certifications</th>
                                    </tr>
                                    <ng-container *ngFor="let certif of resume.certifications.Certification; let index = index">
                                      <tr>
                                        <td>
                                          <table class="table_class">
                                            <tbody>
                                              <tr>
                                                <th class="text-left text-base leading-5 pt-2">{{ certif.titre_certificat }}</th>
                                              </tr>
                                              <tr>
                                                <td>{{ certif.DateCert }}</td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </ng-container>
                                  </tbody>
                                </table>
                              </ng-container>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
          
        </div>
      </div>
    </div>
  </div>
</div>