
  summary.accordion__title {
    list-style-type: none;
    padding: 0.875rem 2.5rem 0.875rem 0.875rem;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M23.024 11.263l-7.024 7.023-7.022-7.023-3.091 3.090 8.569 8.569c0.413 0.413 0.961 0.64 1.545 0.64s1.133-0.228 1.545-0.64l8.569-8.569-3.091-3.090z' fill='%23555555'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem top 0.625rem;
    background-size: 1.5rem;
  }
  summary.accordion__title.plus, details.accordion[open] summary.accordion__title.plus{
    background-image:none;
  }
  summary.accordion__title::marker,
  summary.accordion__title::-webkit-details-marker {
    display: none;
  }
  
  .accordion__content {
    padding: 0 1rem 1rem 1rem;
  }
  
  .accordion__content p {
    margin: 0;
  }
  .accordion__content p + p {
    margin-top: 0.5em;
  }
  details.accordion[open] summary.accordion__title {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.976 22.025l7.024-7.023 7.022 7.023 3.091-3.090-8.568-8.568c-0.413-0.412-0.961-0.64-1.545-0.64s-1.133 0.228-1.545 0.64l-8.569 8.569 3.091 3.090z' fill='%23555555'/%3e%3c/svg%3e");
  }
  .formVisualisation{
    width: 40%;
  }
  .visualisationD{
    width: 60%;
  }
.templateId2 .top_skills_value {
  height: 40px;
  width: 152px;
 
}
.templateId2 .top_skills td:nth-child(2) {
  margin-left: 10px !important;
}
.templateId2 .top_skills td:nth-child(3) {
  margin-top: 10px !important;
}
.templateId2 .top_skills td:nth-child(4) {
  margin-top: 10px !important;
  margin-left: 10px;
}
.templateId2 .heading {
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  padding-top: 20px;
}
.templateId2 .employment_history {
  position: relative;
  left: 0%;
  font-size: 14px;
  line-height: 25px;
  padding-top: 4px;
}
.templateId2 .role {
  font-size: 15px;
  line-height: 7mm;
}
.templateId2 .edu_duration {
  font-size: 14px;
  padding-top:6px;
}
.templateId2 .horizontal_line {
  margin-top: 22px;
  background: #E6EBF1;
  border-top: none;
  border-left: none;
}
.templateId2 .tr_other_skills {
  display: flex;
  flex-wrap: wrap;
}
.templateId2 .rightpart_text {
  font-size: 13px;
  color: #616a73;
  padding-top: 5px;
}
.templateId2 .table_class {
  width: 100%;
}
.templateId2 .table_container {
  padding: 0;
  width: 100%;
}
/* Unordered List */
.templateId2 div[class*="employment_history"] ul {
  padding-left: 15px;
}
.templateId2 div[class*="employment_history"] ul li {
  list-style-type: disc;
  padding-left: 1px;
  color: #252421;
}
.templateId2 div[class*="employment_history"] ul li[class*="ql-indent-1"] {
  list-style-type: disc;
  margin-left: 10px;
  color: #252421;
}
.templateId2 div[class*="employment_history"] ul li[class*="ql-indent-2"] {
  list-style-type: disc;
  margin-left: 20px;
  color: #252421;
}
.templateId2 div[class*="employment_history"] ul li[class*="ql-indent-3"] {
  list-style-type: disc;
  margin-left: 30px;
  color: #252421;
}
.templateId2 div[class*="employment_history"] ul li[class*="ql-indent-4"] {
  list-style-type: disc;
  margin-left: 40px;
}
.templateId2 div[class*="employment_history"] ul li[class*="ql-indent-5"] {
  list-style-type: disc;
  margin-left: 50px;
}
/* Ordered List */
.templateId2 div[class*="employment_history"] ol {
  counter-reset: item;
  padding-left: 11px;
  color: #252421;
}
.templateId2 div[class*="employment_history"] ol li {
  list-style: decimal;
  padding-left: 1px;
  color: #252421;
}
/* Indent 1 */
.templateId2 div[class*="employment_history"] ol li[class*="ql-indent-1"] {
  display: block;
  margin-left: 10px;
  color: #252421;
}
.templateId2 div[class*="employment_history"] ol li[class*="ql-indent-1"]::before {
  display: inline-block;
  counter-increment: item;
  content: counter(item, disc);
  margin-left: 10px;
  color: #252421;
}
/* Indent 2 */
.templateId2 div[class*="employment_history"] ol li[class*="ql-indent-2"]::before {
  /* content: counter(start, lower-roman) ". ";
   counter-increment: start; */
  display: inline-block;
  counter-increment: item;
  content: counter(x, disc);
  margin-left: 20px;
}
.templateId2 div[class*="employment_history"] ol li[class*="ql-indent-2"] {
  display: block;
  margin-left: 20px;
}
/* Indent 3 */
.templateId2 div[class*="employment_history"] ol li[class*="ql-indent-3"] {
  display: block;
  margin-left: 30px;
  color: #252421;
}
.templateId2 div[class*="employment_history"] ol li[class*="ql-indent-3"]::before {
  content: counter(start, disc);
  counter-increment: start;
  margin-left: 30px;
  color: #252421;
}
/* Indent 4 */
.templateId2 div[class*="employment_history"] ol li[class*="ql-indent-4"] {
  display: block;
  color: #252421;
  margin-left: 40px;
}
.templateId2 div[class*="employment_history"] ol li[class*="ql-indent-4"]::before {
  content: counter(start, disc);
  counter-increment: start;
  margin-left: 40px;
  color: #252421;
}
/* Indent 5 */
.templateId2 div[class*="employment_history"] ol li[class*="ql-indent-5"] {
  display: block;
  margin-left: 50px;
  color: #252421;
}
.templateId2 div[class*="employment_history"] ol li[class*="ql-indent-5"]::before {
  content: counter(start, disc);
  counter-increment: start;
  margin-left: 50px;
  color: #252421;
}
.container {
  width:100%;
  height: fit-content;
  border: 1px solid var(--border);
  background: #ffffff;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  padding: 30px;
}
.wrapper {
  height: auto;
}
.span_class {
  font-size: 10px;
  font-weight: 500;
}
.h2_class {
  margin: 0;
  font-weight: bold;
}
.h3_class {
  margin: 0;
  font-weight: normal;
  padding-top: 10px;
}
.candidate_name {
  text-align: left;
  padding: 20px 0 0 0;
}
.template_logo {
  height: 28px;
  text-align: right;
}
.category {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    height: 29px;
    width: fit-content;
    background: #21b573;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    color: #ffffff;
}
.title {
  text-align: left;
  font-size: 16px;
  line-height: 13px;
  padding-top: 20px;
  padding-bottom:7px;
}
.top_skills_table_ul {
  padding: 0%;
  height: 49px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 4;
  justify-content: center;
  align-items: center;
  outline: 1px solid #21b573;
  border-radius: 6px;
}
.top_skills_table_li {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
  height: 21px;
  border-right: 1px #21b573 solid;
  font-weight: bolder;
  font-size: 15px;
}
.top_skills_table_li:last-child {
  border: none;
}
.left_part {
  vertical-align: top;
  width: 70%;
}
.right_part {
  vertical-align: top;
  width: 30%;
}
.table_container {
  padding: 0;
  width: 100%;
}
.preview_employment_history {
  position: relative;
  left: 0%;
  font-size: 14px;
  line-height: 25px;
  padding-top: 3px;
}
.emp_duration {
  font-size: 15px;
  font-weight: 500;
}
/* Unordered List */
div[class*="preview_employment_history"] ul {
  padding-left: 15px;
}
div[class*="preview_employment_history"] ul li {
  list-style-type: disc;
  padding-left: 1px;
}
div[class*="preview_employment_history"] ul li[class*="ql-indent-1"] {
  list-style-type: disc;
  margin-left: 10px;
}
div[class*="preview_employment_history"] ul li[class*="ql-indent-2"] {
  list-style-type: disc;
  margin-left: 20px;
}
div[class*="preview_employment_history"] ul li[class*="ql-indent-3"] {
  list-style-type: disc;
  margin-left: 30px;
}
div[class*="preview_employment_history"] ul li[class*="ql-indent-4"] {
  list-style-type: disc;
  margin-left: 40px;
}
div[class*="preview_employment_history"] ul li[class*="ql-indent-5"] {
  list-style-type: disc;
  margin-left: 50px;
}
/* Ordered List */
div[class*="preview_employment_history"] ol {
  counter-reset: item;
  /* counter-increment: start 0; */
  padding-left: 11px;
}
div[class*="preview_employment_history"] ol li {
  list-style: decimal;
  padding-left: 1px;
}
/* Indent 1 */
div[class*="preview_employment_history"] ol li[class*="ql-indent-1"] {
  display: block;
  margin-left: 10px;
}
div[class*="preview_employment_history"] ol li[class*="ql-indent-1"]::before {
  display: inline-block;
  counter-increment: item;
  content: counter(item, disc);
  margin-left: 10px;
}
/* Indent 2 */
div[class*="preview_employment_history"] ol li[class*="ql-indent-2"]::before {
  /* content: counter(start, lower-roman) ". ";
   counter-increment: start; */
  display: inline-block;
  counter-increment: item;
  content: counter(x, disc);
  margin-left: 20px;
}
div[class*="preview_employment_history"] ol li[class*="ql-indent-2"] {
  display: block;
  margin-left: 20px;
}
/* Indent 3 */
div[class*="preview_employment_history"] ol li[class*="ql-indent-3"] {
  display: block;
  margin-left: 30px;
}
div[class*="preview_employment_history"] ol li[class*="ql-indent-3"]::before {
  content: counter(start, disc);
  counter-increment: start;
  margin-left: 30px;
}
/* Indent 4 */
div[class*="preview_employment_history"] ol li[class*="ql-indent-4"] {
  display: block;
  margin-left: 40px;
}
div[class*="preview_employment_history"] ol li[class*="ql-indent-4"]::before {
  content: counter(start, disc);
  counter-increment: start;
  margin-left: 40px;
}
/* Indent 5 */
div[class*="preview_employment_history"] ol li[class*="ql-indent-5"] {
  display: block;
  margin-left: 50px;
}
div[class*="preview_employment_history"] ol li[class*="ql-indent-5"]::before {
  content: counter(start, disc);
  counter-increment: start;
  margin-left: 50px;
}
.education_degree {
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 6px;
}
.other_skills_tr {
  display: flex;
  flex-wrap: wrap;
}
.other_skills_skillset {
  height: fit-content;
  padding: 3px 7px;
  width: fit-content;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  margin-right: 3%;
  margin-bottom: 4%;
  font-size: 14px;
}
.language_level {
  font-size: 14px;
  padding-top: 6px;
}
.li_class {
  font-size: 15px;
  line-height: 12px;
}
.education_duration {
  font-size: 15px;
  line-height: 18px;
}
.certification_date {
  font-size: 14px;
  line-height: 18px;
  padding-top: 6px;
}
.certification_icon {
  padding-top: 20px;
}
