
<div class="containerbody mx-auto px-4 relative">
   <h1 class="text-4xl font-bold text-gray-800 mb-4">Page 1</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit ea maiores magni necessitatibus fugit sapiente temporibus dolorem cupiditate enim corporis itaque beatae, veniam doloremque iure quidem. Nihil veniam est temporibus.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse et non iste. Temporibus illum ipsa accusamus deleniti excepturi non perspiciatis voluptatibus, laborum reiciendis dolorum odio porro esse, nihil eaque laudantium fugiat totam enim a ducimus, deserunt quos dignissimos at veritatis. Qui dignissimos delectus facilis eius esse? Temporibus mollitia, fugit sint unde qui deleniti aut assumenda corporis ab aspernatur, molestias nobis aliquid! Deserunt cum possimus corrupti repellendus eius inventore, nihil veniam dolor maxime. Expedita obcaecati consequatur nulla, dolorum earum tempore impedit, quas inventore fugit magnam facilis eius, culpa natus quaerat placeat deleniti. Quas tempora at porro similique modi mollitia esse earum!</p>
</div>
<router-outlet>
  
</router-outlet>