<div class="containerbody mx-auto px-4 mb-6 relative">
    <h1 class="text-4xl font-bold text-gray-800 mb-4">home </h1>
    <section class="flex flex-wrap">
        <div class="w-full sm:w-6/12 lg:w-3/12">
            <section class="bg-white rounded-lg shadow-md p-4">
                <img src="http://via.placeholder.com/640x360" alt="coding" class="w-full rounded-t-lg"/>
                <div class="p-4">
                    <h3 class="text-lg font-semibold">Lorem, ipsum dolor.</h3>
                    <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima reiciendis facilis dignissimos porro minus.</p>
                    <a href="#" class="btn btn-primary mt-4">Lire la suite</a>
                </div>
            </section>
        </div><!--End first element-->
        <div class="w-full sm:w-6/12 lg:w-3/12">
            <section class="bg-white rounded-lg shadow-md p-4">
                <img src="http://via.placeholder.com/640x360" alt="mixing" class="w-full rounded-t-lg"/>
                <div class="p-4">
                    <h3 class="text-lg font-semibold">Lorem, ipsum dolor.</h3>
                    <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima reiciendis facilis dignissimos porro minus.</p>
                    <a href="#" class="btn btn-primary mt-4">Lire la suite</a>
                </div>
            </section>
        </div><!--End second element-->
        <div class="w-full sm:w-6/12 lg:w-3/12">
            <section class="bg-white rounded-lg shadow-md p-4">
                <img src="http://via.placeholder.com/640x360" alt="teaching" class="w-full rounded-t-lg"/>
                <div class="p-4">
                    <h3 class="text-lg font-semibold">Lorem, ipsum dolor.</h3>
                    <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima reiciendis facilis dignissimos porro minus.</p>
                    <a href="#" class="btn btn-primary mt-4">Lire la suite</a>
                </div>
            </section>
        </div><!--End third element-->
        <div class="w-full sm:w-6/12 lg:w-3/12">
            <section class="bg-white rounded-lg shadow-md p-4">
                <img src="http://via.placeholder.com/640x360" alt="video" class="w-full rounded-t-lg"/>
                <div class="p-4">
                    <h3 class="text-lg font-semibold">Lorem, ipsum dolor.</h3>
                    <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima reiciendis facilis dignissimos porro minus.</p>
                    <a href="#" class="btn btn-primary mt-4">Lire la suite</a>
                </div>
            </section>
        </div><!--End fourth element-->
    </section>
    
</div>


<router-outlet>
  
</router-outlet>