<div class="flex">
    <div class="hidden lg:flex w-1/6 px-4 py-3"></div>
    <div class="w-6/7 mx-auto px-4 mb-6 relative">
        <h1 class="text-4xl text-center font-bold text-gray-800 w-full">Accueil</h1>
        <section class="flex flex-wrap justify-center mx-auto">
            <div class="w-full sm:w-6/12 lg:w-3/12 ml-3 my-4">
                <section class="bg-white rounded-lg shadow-md p-4 mx-auto">
                    <img src="http://via.placeholder.com/640x360" alt="coding" class="w-full rounded-t-lg"/>
                    <div class="p-4">
                        <h3 class="text-lg font-semibold">Lorem, ipsum dolor.</h3>
                        <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima reiciendis facilis dignissimos porro minus.</p>
                        <a href="#" class="btn btn-primary mt-4">Lire la suite</a>
                    </div>
                </section>
            </div>
            <div class="w-full sm:w-6/12 lg:w-3/12 ml-3 my-4">
                <section class="bg-white rounded-lg shadow-md p-4 mx-auto">
                    <img src="http://via.placeholder.com/640x360" alt="mixing" class="w-full rounded-t-lg"/>
                    <div class="p-4">
                        <h3 class="text-lg font-semibold">Lorem, ipsum dolor.</h3>
                        <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima reiciendis facilis dignissimos porro minus.</p>
                        <a href="#" class="btn btn-primary mt-4">Lire la suite</a>
                    </div>
                </section>
            </div>
            <div class="w-full sm:w-6/12 lg:w-3/12 ml-3 my-4">
                <section class="bg-white rounded-lg shadow-md p-4 mx-auto">
                    <img src="http://via.placeholder.com/640x360" alt="teaching" class="w-full rounded-t-lg"/>
                    <div class="p-4">
                        <h3 class="text-lg font-semibold">Lorem, ipsum dolor.</h3>
                        <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima reiciendis facilis dignissimos porro minus.</p>
                        <a href="#" class="btn btn-primary mt-4">Lire la suite</a>
                    </div>
                </section>
            </div>
            <div class="w-full sm:w-6/12 lg:w-3/12 ml-3 my-4">
                <section class="bg-white rounded-lg shadow-md p-4 mx-auto">
                    <img src="http://via.placeholder.com/640x360" alt="video" class="w-full rounded-t-lg"/>
                    <div class="p-4">
                        <h3 class="text-lg font-semibold">Lorem, ipsum dolor.</h3>
                        <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima reiciendis facilis dignissimos porro minus.</p>
                        <a href="#" class="btn btn-primary mt-4">Lire la suite</a>
                    </div>
                </section>
            </div>
            <div class="w-full sm:w-6/12 lg:w-3/12 ml-3 my-4">
                <section class="bg-white rounded-lg shadow-md p-4 mx-auto">
                    <img src="http://via.placeholder.com/640x360" alt="video" class="w-full rounded-t-lg"/>
                    <div class="p-4">
                        <h3 class="text-lg font-semibold">Lorem, ipsum dolor.</h3>
                        <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima reiciendis facilis dignissimos porro minus.</p>
                        <a href="#" class="btn btn-primary mt-4">Lire la suite</a>
                    </div>
                </section>
            </div>
        </section>
</div>
</div>



