<div class="flex">
  <div class="hidden lg:flex w-1/12 px-4 py-3"></div>
  <div class="mx-auto px-4 mb-6 relative overflow-x-auto" >
    <h1 class="text-4xl text-center font-bold text-gray-800 mb-4">Information sur le compte</h1>
    <table class=" w-full text-sm text-left text-gray-500">
      <thead class="bg-blue-700 text-xs text-sky-100 ">
        <tr class="uppercase">
          <th class="px-6 py-3">Nom</th>
          <th class="px-6 py-3">Email</th>
          <th class="px-6 py-3"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-xs text-gray-700 bg-sky-200 ">
          <td class="px-6 py-3"></td>
          <td class="px-6 py-3"></td>
          <td class="px-6 py-3"></td>
        </tr>
      </tbody>
    </table>
    <div class="flex justify-center mt-4">
      <a class="justify-center mx-auto bg-blue-900 hover:bg-blue-950 text-white font-bold py-2 px-4 rounded" routerLink="/admin/compte">
        Retour à la page Compte</a>
    </div>
  </div>
</div>
<router-outlet>
  
</router-outlet>
